img {
    height: auto; 
    width: 450px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px; 
    padding-bottom: 10px;
}

.header {
    font-family: "Jacquard 24", system-ui;
    font-style: normal;
    font-size: 40px;
    text-align: center; 
    background-color: #f4d49fff; 
    padding: 1px; 
}

.headerandimage {
    background-image: linear-gradient(rgb(105, 171, 200),#11262fff);
  }

  .container {
    display: flex;
}

.counter {
    padding-left: 200px; 
    font-family: "Jacquard 24", system-ui;
    font-size: 50px; 
    padding-top: 45px; 
    text-decoration: none; 
}

.stormimg img {
    padding-bottom: 150px; 
    padding-left: 50px; 
    padding-top: 110px; 
}

.counterspecial {
    font-family: "Jacquard 24", system-ui;
    font-size: 30px; 
    padding-top: 50px; 
    display: block;
    padding-bottom: 130px; 
    font-size: 50px;
    text-align: center; 
}

a {
    text-decoration: none;
    color: black; 
}

a:hover {
    text-decoration: underline;
}

.counterspecial2 {
    font-family: "Jacquard 24", system-ui;
    font-size: 30px; 
    padding-top: 50px; 
    display: block;
    padding-bottom: 130px; 
    font-size: 40px;
    padding-left: 140px; 
    padding-right: 30px;  
}

.coffinimg img {
    height: 300px;
    width: auto; 
    padding-top: 60px; 
}

.coffinimg2 img {
    height: 300px;
    width: auto; 
    padding-top: 60px;
    padding-left: 210px; 
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(249, 174, 116);
    color: white;
    text-align: center;
  }

